<p>Human Resource Management</p>
<button routerLink="/add">Add Employee</button>
<form >
  <input type="text" placeholder="Enter employee Name" [(ngModel)]="searchEmployeeData"  id="searchEmp" name="searchEmp">
  <button type="submit" (click)="searchTheEmployee()">GO!</button>
</form>
<table *ngIf="searchBoolean">
  
    <tr>
      
      <th>First Name</th>
      <th>Last Name</th>
      <th>DOB</th>&nbsp;&nbsp;
      <th>Hire Date</th>
    </tr>
    <tbody >
      <tr>
        
        <td>{{searchEmployee.first_name}}</td>
        <td>{{searchEmployee.last_name}}</td>
        <td>{{searchEmployee.dob}}</td>&nbsp;&nbsp;
        <td>{{searchEmployee.hireDate}}</td>
      </tr>
    </tbody>
     
</table>

<hr>
<table >
    <tr>
      <th> #</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>DOB</th>&nbsp;
      <th>Hire Date</th>
    </tr>
    <tbody *ngFor="let employee of employees;let i = index">
      <tr >
        <td>{{i+1}}</td>
        <td>{{employee.first_name}}</td>
        <td>{{employee.last_name}}</td>
        <td>{{employee.dob}}</td>&nbsp;
        <td>{{employee.hireDate}}</td> &nbsp;&nbsp;&nbsp;&nbsp;
        <td><button routerLink="/edit/{{employee.id}}">edit</button></td>
        
        <td><button (click)="deleteById(employee.id)">Delete</button></td>
        
      </tr>
    
    </tbody> 
  </table>