<button routerLink="/">Go Home</button>
<hr>
<form>
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" placeholder="Enter Employees First Name"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" placeholder="Enter Employees Last Name"><br>
    <label for="dob">DOB :</label><br>
    <input type="date" id="dob" name="dob" ><br> 
    <label for="hdate">Hire Date:</label><br>
    <input type="date" id="hdate" name="hdate" ><br><br>
    <input type="submit" value="Submit">
</form>
